.one{
    color: palevioletred;
    background-color: rgb(94, 9, 78);
}
.two{
    color: rgb(242, 4, 67);
    background-color: rgb(224, 152, 196);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    text-decoration: underline;
    text-transform: uppercase;
}
.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-transform: none;
    border-style: double;
    border-width: 3px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-color: crimson;
    border-radius: 5cm;
    margin-left: 15%;
    margin-right:15%;
    
    
}

